body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 20px;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}
h2{
  font-size : 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3,a{
  color: #11999E;
}
a{
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
hr{
  border: dotted #11999E;
  border-bottom: none;
  width:60px;
  margin:100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container
{
  background-color: #b3fff0;
  position : relative;
  padding-top: 100px;
}
.middle-container
{
padding-top: 50px;
}
.bottom-container
{
 background-color: #66BFBF;
 padding: 50px 0 20px;
}
.footer-link{
  margin: 10px 20px;
}
.top-cloud{
  position: absolute;
  right : 500px;
}
.bottom-cloud{
  position: absolute;
  left : 400px;
  bottom : 300px;
}

.coding-image{
  float: left;
  margin-right: 30px;
}
.chilling-image{
  float: right;
  margin-left: 30px;
}
.intro{
  width: 40%;
  margin:auto;
}
.contact-me{
  margin:40px auto 60px;
  width:50%;
  line-height: 2;
}
.btn {
  background: #5ea6d6;
  background-image: -webkit-linear-gradient(top, #5ea6d6, #2bb6b8);
  background-image: -moz-linear-gradient(top, #5ea6d6, #2bb6b8);
  background-image: -ms-linear-gradient(top, #5ea6d6, #2bb6b8);
  background-image: -o-linear-gradient(top, #5ea6d6, #2bb6b8);
  background-image: linear-gradient(to bottom, #5ea6d6, #2bb6b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
